# Mini project

## 1.details

### classification problem

## 2.my solution

### i am using knn model(k nearest neighbours)

### step 1

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
cd desktop

C:\Users\Papu Naidu\desktop

In [4]:

df=pd.read_csv("heart.csv")
y=df["output"]
x=df.drop("output",axis=1)

### a)features and target should not have null values

In [5]:
df.isna().sum()

age         0
sex         0
cp          0
trtbps      0
chol        0
fbs         0
restecg     0
thalachh    0
exng        0
oldpeak     0
slp         0
caa         0
thall       0
output      0
dtype: int64

### b)features should be numeric in nature

In [6]:
df.dtypes

age           int64
sex           int64
cp            int64
trtbps        int64
chol          int64
fbs           int64
restecg       int64
thalachh      int64
exng          int64
oldpeak     float64
slp           int64
caa           int64
thall         int64
output        int64
dtype: object

### c)features should be of type array/dataframe

In [7]:
type(df)

pandas.core.frame.DataFrame

### d)features should have some rows and columns

In [8]:
df.shape

(303, 14)

### step2 split the data sets into training and testing data sets

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42,stratify=y)
x_test

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall
123,54,0,2,108,267,0,0,167,0,0.0,2,0,2
283,40,1,0,152,223,0,1,181,0,0.0,2,0,3
206,59,1,0,110,239,0,0,142,1,1.2,1,1,3
95,53,1,0,142,226,0,0,111,1,0.0,2,0,3
271,61,1,3,134,234,0,1,145,0,2.6,1,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,50,1,2,129,196,0,1,163,0,0.0,2,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
142,42,0,2,120,209,0,1,173,0,0.0,1,0,2
257,50,1,0,144,200,0,0,126,1,0.9,1,0,3
239,35,1,0,126,282,0,0,156,1,0.0,2,0,3

### e)features should be on same scale

In [10]:
x.describe()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000

In [11]:
from sklearn.preprocessing import MinMaxScaler

In [13]:
scaler=MinMaxScaler()

In [14]:
x_train=scaler.fit_transform(x_train)
type(x_train)

numpy.ndarray

In [15]:
x_test=scaler.transform(x_test)

### step3 train the model on training data set

In [16]:
from sklearn.neighbors import KNeighborsClassifier

In [17]:
s=KNeighborsClassifier(n_neighbors=50)

In [18]:
s.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=50, p=2,
                     weights='uniform')

In [19]:
s.score(x_test,y_test)

0.7692307692307693

In [20]:
s.predict([[90,0,2,140,197,0,2,116,0,1.1,1,0,2]])

array([1], dtype=int64)